$body: #242D3E;
$text: #E6E6E6;
$border: #565D6D;
$orange: #D58D60;
$green: #A8B780;
$red: #D56060;
$blue: #27588D;
$violet: #67658D;
$shadow: #000000;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  display: flex;
  @media (min-width: 700px) {
    font-size: 62.5%;
  }
}
html, body {
  height: 100%;
  background: $body;
  color: $text;
  font-family: 'Roboto', sans-serif;
  position: relative;
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 900px)
    and (orientation: landscape) {
      height: auto;
  }
  @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 900px)
  and (orientation: portrait) {
    height: auto;
}
}
a {
  text-decoration: none;
  color: $text;
  cursor: pointer;
}

button {
  outline: none;
}
ul {
  list-style-type: none;
}
h1, h2, h3, h4, h5, button, a {
  font-weight: 700;
}
p, span {
  font-weight: 300;
}
a, button {
  -webkit-tap-highlight-color: transparent;
}

  ///// Шаблон кнопки
.btn {
  position: relative;
  border-radius: 150px;
  background: $border;
  box-shadow: 5px 20px 15px rgba($shadow, .25);
  transition: all .3s ease-in-out;
  z-index: 5;
  &:hover {
    background: lighten($border, 10);
  }
  &::after {
    content: '';
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: absolute;
    border-radius: inherit;
    top: 3px;
    left: 3px;
    background: darken($body, 5);
    box-shadow: 0 5px 5px rgba($shadow, .45);
    transition: all .3s ease-in-out;
    z-index: -1;
  }
}
.btn2 {
  position: relative;
  border-radius: 150px;
  background: $border;
  box-shadow: 
    -5px -5px 10px rgba($text, .25),
    5px 10px 15px rgba($shadow, .25);
  transition: all .3s ease-in-out;
  z-index: 5;
  &:hover {
    background: lighten($border, 10);
  }
  &::after {
    content: '';
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: absolute;
    border-radius: inherit;
    top: 3px;
    left: 3px;
    background: darken($body, 5);
    box-shadow: 0 5px 5px rgba($shadow, .45);
    transition: all .3s ease-in-out;
    z-index: -1;
  }
}


  // Широкая кнопка
.link-btn {
  display: inline-block;
  padding: 16px 35px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  @extend .btn;
}
  // Широкая кнопка
.it-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 25px;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: darken($text, 20);
  @media (max-device-width: 600px) {
    margin-bottom: 100px;
  }
  @extend .btn2;
  div.icon-bt {
    width: 40px;
    height: 40px;
    position: relative;
    top: -1px;
    left: -9px;
    border-radius: 50%;
    background: $green;
    box-shadow: 
      inset 1px 3px 5px rgba($shadow, .4),
      0 0 3px 1px rgba($border, .9);
    z-index: 1;
    &::after {
      content: '';
      width: inherit;
      height: inherit;
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 50%;
      box-shadow: 0 0 5px 2px rgba($border, .9);
      z-index: -2;
    }
    &::before {
      content: '';
      width: inherit;
      height: inherit;
      position: absolute;
      top: 0px;
      left: -3px;
      border-radius: 50%;
      
      animation: callphone 3s ease-in-out infinite;
      z-index: -5;
    }
  }
  i {
    position: absolute;
    top: 3px;
    left: 2px;
    font-size: 2.6rem;
    color: darken($body, 5);
  }
}

@keyframes callphone {
  0% {box-shadow: 0 0 0px 0px rgba($green, .8);}
  50% {box-shadow: 0 0 15px 15px rgba($green, 0);}
  // 75% {box-shadow: 0 0 5px 15px rgba($green, 0);}
  100% {box-shadow: 0 0 0px 0px rgba($green, 0);}
}
  // Круговая кнопка
.circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 17px;
  @extend .btn;
  &:hover {
    &::after {
      transform: scale(.93);
    }
  }
}

  // NНАВИГАЦИЯ ПО САЙТАМ
nav {
  width: 501px;
  position: fixed;
  z-index: 1000;
  @media (max-width: 500px) {
      width: 100%;
      bottom: 0;
      background: darken($body, 5);
    }

  @media (min-width: 501px) {
    top: 0;
    border-radius:  0 0 15px 15px;
    background: lighten($body, 3);
    box-shadow: 5px 15px 15px rgba($shadow, .3);
  }
  ul#navigation {
    display: flex;
    justify-content: space-around;
    li {
      position: relative;
      &.active-btn {
        &::after {
          content: '';
          width: 100%;
          height: 2px;
          position: absolute;
          top: 0;
          left: 0;
          background: lighten($body, 50);
        }
      }
    }
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px;
      color: lighten($body, 25);
      font-size: 1.3rem;
      font-weight: 400;
      transition: all .3s ease-in-out;
      i {
        color: lighten($body, 10);
        font-size: 2.5rem;
        transition: all .3s ease-in-out;
      }
      &:hover {
        color: lighten($body, 50);
        i {
          color: lighten($body, 50);
        }
      }
      &.active {
        color: lighten($body, 50);
        i {
          color: lighten($body, 50);
        }
      }
    }

  }
}
  
@import './main';

  // IMPORT IT PAGES
@import './IT/home';
@import './IT/service';
@import './IT/prices';
@import './IT/delivery';