$body: #242D3E;
$text: #E6E6E6;
$border: #565D6D;
$orange: #D58D60;
$green: #A8B780;
$red: #D56060;
$blue: #27588D;
$violet: #67658D;
$shadow: #000000;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media (min-width: 700px) {
    font-size: 62.5%;
  }
}
html, body {
  height: 100%;
  background: $body;
  color: $text;
  font-family: 'Roboto', sans-serif;
  position: relative;
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 900px)
    and (orientation: landscape) {
      height: auto;
  }
}
a {
  text-decoration: none;
  color: $text;
  cursor: pointer;
}

button {
  outline: none;
}
ul {
  list-style-type: none;
}
h1, h2, h3, h4, h5, button, a {
  font-weight: 700;
}
p, span {
  font-weight: 300;
}
a, button {
  -webkit-tap-highlight-color: transparent;
}

  ///// Шаблон кнопки
.btn {
  position: relative;
  border-radius: 150px;
  background: $border;
  box-shadow: 5px 20px 15px rgba($shadow, .25);
  transition: all .3s ease-in-out;
  z-index: 5;
  &:hover {
    background: lighten($border, 10);
  }
  &::after {
    content: '';
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: absolute;
    border-radius: inherit;
    top: 3px;
    left: 3px;
    background: darken($body, 5);
    box-shadow: 0 5px 5px rgba($shadow, .45);
    transition: all .3s ease-in-out;
    z-index: -1;
  }
}
.btn2 {
  position: relative;
  border-radius: 150px;
  background: $border;
  box-shadow: 
    -5px -5px 10px rgba($text, .25),
    5px 10px 15px rgba($shadow, .25);
  transition: all .3s ease-in-out;
  z-index: 5;
  &:hover {
    background: lighten($border, 10);
  }
  &::after {
    content: '';
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: absolute;
    border-radius: inherit;
    top: 3px;
    left: 3px;
    background: darken($body, 5);
    box-shadow: 0 5px 5px rgba($shadow, .45);
    transition: all .3s ease-in-out;
    z-index: -1;
  }
}


  // Широкая кнопка
.link-btn {
  display: inline-block;
  padding: 16px 35px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  @extend .btn;
}
  // Широкая кнопка
.it-btn {
  display: inline-block;
  padding: 20px 35px 20px 70px;
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  @extend .btn2;
  i {
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 2.6rem;
    color: $body;
    z-index: 5;
    &::after {
      content: '';
      width: 42px;
      height: 42px;
      position: absolute;
      top: -4px;
      left: -2px;
      border-radius: 50%;
      background: $green;
      box-shadow: 
      inset 1px 3px 5px 3px rgba($shadow, .4),
      0 0 3px 1px rgba($border, .9);
      animation: callphone 1s ease-in-out infinite;
      z-index: -1;
    }
    // &::before {
    //   content: '';
    //   // width: 42px;
    //   // height: 42px;
    //   position: absolute;
    //   top: -4px;
    //   left: -7px;
    //   border-radius: 50%;
    //   opacity: 0;
    //   // background: $green;
    //   box-shadow: 0 0 5px 2px rgba($green, .8);
    //   z-index: -3;
    // }
  }
}

@keyframes callphone {
  50% {transform: scale(.9);}
}
  // Круговая кнопка
.circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 17px;
  @extend .btn;
  &:hover {
    &::after {
      transform: scale(.93);
    }
  }
}
  
@import './main';

  // IMPORT IT PAGES
@import './IT/home';
@import './IT/service';
@import './IT/prices';
@import './IT/delivery';