$body: #242D3E;
$text: #E6E6E6;
$border: #565D6D;
$orange: #D58D60;
$green: #A8B780;
$red: #D56060;
$blue: #27588D;
$violet: #67658D;
$shadow: #000000;

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  @media (min-width: 700px) {
    font-size: 62.5%;
  }
}
html, body {
  height: 100%;
  background: $body;
  color: $text;
  font-family: 'Roboto', sans-serif;
  position: relative;
  @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 900px)
    and (orientation: landscape) {
      min-height: 100%;
  }
}
a {
  text-decoration: none;
  color: $text;
  cursor: pointer;
}

button {
  outline: none;
}
ul {
  list-style-type: none;
}
h1, h2, h3, h4, h5, button, a {
  font-weight: 700;
}
p, span {
  font-weight: 300;
}
a, button {
  -webkit-tap-highlight-color: transparent;
}

  // Начальная страница с градиентом
body#home {
  background: linear-gradient(to top, $body 0%, lighten($body, 5) 50%, $body 50%);
  @media (min-width: 700px) {
    overflow: hidden;
  }
  @media only screen
    and (min-device-width: 320px)
    and (max-device-width: 900px)
    and (orientation: landscape) {
      overflow: auto;
    }
}

  // Логотип
div#logo {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 10px;
  position: absolute;
  z-index: 10;
  span {
    font-size: 1.15rem;
    color: rgba($text, .8);
  }
  img {
    width: 38px;
    opacity: .8;
  }
}

  // Содержание
main#home {
  height: 100%;
  position: relative;
  @media (min-width: 700px) {
    width: 700px;
    margin: auto;
  }
  @media only screen 
    and (max-width: 700px)
    and (orientation: portrait) {
    overflow: hidden;
  }
  @media only screen 
    and (min-device-width: 320px)
    and (max-device-width: 900px)
    and (orientation: landscape) {
      width: 100%;
    }
  section.home:nth-of-type(1),
  section.home:nth-of-type(3) {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 5;
    h1 {
      width: 50%;
      font-size: 2.6rem;
      line-height: 30px;
      @media (min-width: 700px) {
        font-size: 3.1rem;
        line-height: 35px;
      }
    }
    p {
      width: 70%;
      margin-top: 15px;
      font-size: 1.3rem;
      line-height: 20px;
      position: relative;
      z-index: 5;
      @media (min-width: 700px) {
        font-size: 1.6rem;
        line-height: 25px;
      }
    }
    a.link-btn {
      position: relative;
      margin-top: 15px;
      z-index: 5;
      i {
        opacity: .5;        
        transition: all .3s ease-in-out;
      }
      &:hover {
        i {
          opacity: 1;
          margin-left: 5px;
        }
      }
    }
    
  }
  section.home:nth-of-type(1) {
    h1 {
      padding-left: 20px;
      color: $green;
    }
    p {
      padding-left: 20px;
    }
    a.link-btn {
      margin-left: 20px;
      margin-right: auto;
      i {
        color: $green;
      }
    }
  }
  section.home:nth-of-type(3) {
    h1 {
      margin-left: auto;
      padding-right: 20px;
      color: $orange;
      text-align: right;
    }
    p {
      margin-left: auto;
      text-align: right;
      padding-right: 20px;
    }
    a.link-btn {
      margin-left: auto;
      margin-right: 20px;
      i {
        color: $orange;
      }
    }
  }

  section.home:nth-of-type(2) {
    min-height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @media only screen 
      and (min-device-width: 320px) 
      and (max-device-width: 900px)
      and (orientation: landscape) {
        min-height: 150px;
    }
  }
    // Телефон в перевернутом состоянии (горизонтальный)
  section.home {
    @media only screen 
      and (min-device-width: 320px)
      and (max-device-width: 900px)
      and (orientation: landscape) {
        width: 100%;
        min-height: 250px;
        overflow: hidden;
      }
  }
}

  // Шаблон кнопки
.btn {
  position: relative;
  border-radius: 150px;
  background: $border;
  box-shadow: 5px 20px 15px rgba($shadow, .25);
  transition: all .3s ease-in-out;
  z-index: 5;
  &:hover {
    background: lighten($border, 10);
  }
  &::after {
    content: '';
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: absolute;
    border-radius: inherit;
    top: 3px;
    left: 3px;
    background: darken($body, 5);
    box-shadow: 0 5px 5px rgba($shadow, .45);
    transition: all .3s ease-in-out;
    z-index: -1;
  }
}
  // Широкая кнопка
.link-btn {
  display: inline-block;
  padding: 16px 35px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  @extend .btn;
}
  // Круговая кнопка
.circle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 17px;
  @extend .btn;
  &:hover {
    &::after {
      transform: scale(.95);
    }
  }
}
.main-phone-btn,
.main-email-btn {
  width: 68px;
  height: 68px;
  @extend .circle-btn;
  i {
    color: $violet;
    font-size: 3.6rem;
  }
}
.main-geo-btn {
  width: 88px;
  height: 88px;
  @extend .circle-btn;
  i {
    color: $red;
    font-size: 4.4rem;
  }
}

  // Фоновые круги
.ring {
  position: absolute;
  border-radius: 50%;
  box-shadow: 15px 15px 15px rgba($shadow, .15);
  z-index: 1;
}
#ring1 {
  @extend .ring;
  width: 270px;
  height: 270px;
  bottom: -100px;
  left: -90px;
  background-color: $blue;
  animation: ring1a 60s ease-in-out infinite;
}

#ring2 {
  @extend .ring;
  width: 270px;
  height: 270px;
  bottom: -190px;
  right: -150px;
  background-color: $orange;
  animation: ring2a 60s ease-in-out infinite;
  animation-delay: 2s;
}
#ring3 {
  @extend .ring;
  width: 200px;
  height: 200px;
  bottom: -100px;
  left: -90px;
  background-color: $body;
  animation: ring1a 60s ease-in-out infinite;
  animation-delay: 10s;
}
#ring4 {
  @extend .ring;
  width: 370px;
  height: 370px;
  top: -190px;
  right: -210px;
  background-color: $green;
}
#ring5 {
  @extend .ring;
  width: 370px;
  height: 370px;
  top: -280px;
  right: -210px;
  background-color: $body;
  animation: ring4a 60s ease-in-out infinite;
  animation-delay: 5s;
}

@keyframes ring1a {
  0% {transform: translate(0, 0);}
  20% {transform: translate(-80px, 15px) scale(1.4);}
  50% {transform: translate(-25px, 5px) scale(.9);}
  75% {transform: translate(20px, 30px) scale(1.1);}
  90% {transform: translate(0, 0);}
}
@keyframes ring2a {
  3% {transform: translate(0, 0);}
  25% {transform: translate(20px, -10px) scale(.9);}
  60% {transform: translate(-10px, 20px) scale(1.1);}
  80% {transform: translate(10px, -15px) scale(.8);}
  95% {transform: translate(0, 0);}
}
@keyframes ring4a {
  5% {transform: translate(0, 0);}
  30% {transform: translate(0px, 50px) }
  50% {transform: translate(0px, 30px) }
  75% {transform: translate(0px, 10px) }
  100% {transform: translate(0, 0);}
}

  // SVG кольца
.svgring {
  width: 260px;
  height: 260px;
  fill: transparent;
  opacity: .3;
  position: absolute;
  stroke-width: 5px;
  stroke: $border;
  z-index: 1;
}
#svg-ring1 {
  @extend .svgring;
  top: -150px;
  left: -110px;
  stroke-dasharray: 9px;
  animation: svgring1 40s linear infinite;
}
#svg-ring2 {
  @extend .svgring;
  right: -160px;
  bottom: -100px;
  stroke-dasharray: 21px;
  animation: svgring2 60s linear infinite;
}

@keyframes svgring1 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}
@keyframes svgring2 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}