$body: #242D3E;
$text: #E6E6E6;
$border: #565D6D;
$orange: #D58D60;
$green: #A8B780;
$red: #D56060;
$blue: #27588D;
$violet: #67658D;
$shadow: #000000;


  // ВЕРХНЯЯ ЧАСТЬ С КАРИНКОЙ
img#price-pic {
  width: 320px;
  position: absolute;
  bottom: 50px;
  transform: scale(1.2);
  z-index: 50;
  @media (max-width: 500px) {
    transform: scale(1);
  }
}

  // СОДЕРЖАНИЕ
  // Список цен
ul.price-list {
  width: 100%;
  margin-bottom: 70px;
  li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    border-bottom: 1px solid rgba($text, 0.12);
    transition: all .3s ease-in-out;
    &:last-of-type {
      border: none;
    }
  }
  div.price-tle {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 20px 15px 5px 15px;
    h3 {
      width: calc(100% - 100px);
      flex-grow: 2;
      padding-right: 15px;
      font-size: 2rem;
      font-weight: 400;
      line-height: 23px;
      pointer-events: none;
    }
    span {
      font-size: 2rem;
      font-weight: 700;
    }
  }
  div.worktime {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 15px 20px 15px;
    i {
      width: 25px;
      position: relative;
      left: -5px;
      color: darken($text, 20);
      font-size: 1.7rem;
    }
    span {
      flex-grow: 2;
      color: darken($text, 20);
      font-size: 1.4rem;
      font-weight: 300;
    }
    div.time {
      color: darken($text, 20);
      font-size: 1.4rem;
      font-weight: 300;
    }
  }
}